.tarjeta{
background-color: #223142;
width: fit-content;
margin: 8px;
padding: 8px;
height: 460px;
  overflow: visible;
}

.h2-card{
    color: #6eccaf;

}


.button-card{

background-color:#6eccaf;
color: #223142;

}

.tarjeta-oculta{
  top: 0;
  left:100%; /* justo al lado derecho */
  margin-left: 10px;
  width: 300px;
  background-color: #223142;
  z-index: 10;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-info{
    color: #f5f5f5;
    font-size: 19px;
    font-weight: 700 !important;
}

.h4-info{
    color: #f5f5f5;
    font-size: 19px;
    font-weight: 700 !important;
}

.boton-info{
    
 padding: 7px;
 width: 36px;   
height: 36px;
background-color: #6eccaf;
  align-self: flex-end;
  margin-bottom: 8px;
}

.div-tarjeta{
width: 300px;
margin-bottom: 5px;
}


.li:hover{
color: #223142;
background-color: #6eccaf;
cursor: pointer;

}

/*MEDIA QUARYS*/

@media(max-width:768px){


 
.tarjeta{
     flex-direction: column;
    position: relative;
    width: 310px;
    height: auto;
    padding: 8px;
    justify-content: start;
    align-items: start;

}

.tarjeta-oculta{
      position: relative;
    width: 100%;
    margin-top: 10px; /* separación de la info */
    left: 0;
    background-color: #223142 ;
    z-index: 1;
}

.bot{

 font-size: 0.8rem;

}

}